.footer {
    background: #6278F7;
    color: #FFF;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-blend-mode: multiply;
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer ul li:last-child {
    margin-right: 0;
}

.footer ul li a {
  color: white;
  font-size: 2.5em;
}

.footer ul li a:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: all 0.3s ease;
}
