.botao {
    background: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.botao:hover {
    color: #95FFD4;
}

.botao-toggle{
    background: #6278F7;
    border: none;
    margin-left: 90vw;
    margin-top: 2em;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 0.1em;
}